<button md-raised-button (click)="goBack()">
  <md-icon>keyboard_arrow_left</md-icon>
  Back
</button>

<div *ngIf='game'>
  <h1>{{game.title}}</h1>

  <md-divider></md-divider>
  <img md-card-image [src]="game.imageUrl" class="img">
</div>

<div *ngIf='!game'>
  <md-spinner></md-spinner>
</div>

<button md-raised-button (click)="delete()">
    Delete
</button>
