<div class="dialog">
  <h1 md-dialog-title>Add New Game</h1>
  <div md-dialog-content>
    <form>
      <div>
        <md-input-container class="full-width">
          <input name="title" mdInput placeholder="Title" [(ngModel)]="game.title">
        </md-input-container>
      </div>

      <div>
        <md-input-container class="full-width">
          <input name="imageUrl" mdInput placeholder="Image URL" [(ngModel)]="game.imageUrl">
        </md-input-container>
      </div>
    </form>
  </div>
  <div md-dialog-actions class="right">
    <button md-button md-dialog-close>Cancel</button>
    <button md-button [md-dialog-close]="game">Save</button>
  </div>
</div>
