<!--The content below is only a placeholder and can be replaced.-->
<md-toolbar color="primary" class="fixed-header">
  <a md-button routerLink="/" class="tool-bar-logo">CerebralFix</a>
  <a md-button (click)="addNewGame()">Add</a>

  <!-- This fills the remaining space of the current row -->
  <span class="spacer"></span>
  <a md-button target="_blank" href="https://bitbucket.org/guoyishi/angular-mobile"><md-icon>code</md-icon> Source Code</a>
</md-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>
