<div *ngFor="let game of games" class="card" [routerLink]="['/game', game.id]">
  <md-card>
    <md-card-title>
      <span>{{game.title}}</span>
    </md-card-title>
    <md-card-subtitle>
      <span>{{game.subtitle}}</span>
    </md-card-subtitle>
    <img md-card-image [src]="game.imageUrl">
    <!-- <md-card-content *ngIf="card.content">
      <p>
        {{card.content}}
      </p>
    </md-card-content> -->
  </md-card>
</div>
<!--
<md-grid-list cols="3" rowHeight="5:3" class="cards">
  <md-grid-tile>


  </md-grid-tile>
</md-grid-list> -->
<!--
<div class="intro-text"><span class="name">CerebralFix</span>
  <hr class="star-light">
  <div class="skills">Game Development</div>
</div> -->
